.knowledge-wrapper {
    padding: 40px;
    background-color: #ffffff;
    height: 100%;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;  
    align-content: space-between; */
  }